@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
 }

 ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 5px solid #D8D8D8;
}
 
::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #EB0A1E; 
}